<a href="https://colab.research.google.com/github/prodipsarkar03/Research-with-Machine-Learning-/blob/main/lecturer_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## H1: Write a program to perform the subtraction, multipllication and division

#subtraction
a=int(input("Enter the value: "))
b=int(input("Enter the value: "))
sub=a-b
print("Result= ",sub)

Enter the value: 21
Enter the value: 31
Result=  -10

In [ ]:
#multipllication
a=int(input("Enter the value: "))
b=int(input("Enter the value: "))
sub=a*b
print("Result= ",sub)

Enter the value: 3
Enter the value: 4
Result=  12

In [ ]:
#division
a=int(input("Enter the value: "))
b=int(input("Enter the value: "))
sub=a//b
print("Result= ",sub)

Enter the value: 34
Enter the value: 5
Result=  6

In [ ]:
#sum
a=int(input("Enter the value: "))
b=int(input("Enter the value: "))
sub=a+b
print("Result= ",sub)

Enter the value: 2
Enter the value: 4
Result=  6

In [ ]:
# H2: Write a program to declare variables for id, name, batch, and hometown, and assign values, and finally print.

In [ ]:
# Declaring variables and assigning values
student_id = "SM-ML-2025-B1-031"
name = "Prodip Sarkar"
batch = "B1"
hometown = "Habiganj"
print("Student ID:", student_id)
print("Name:", name)
print("Batch:", batch)
print("Hometown:", hometown)

Student ID: SM-ML-2025-B1-031
Name: Prodip Sarkar
Batch: B1
Hometown: Habiganj

In [ ]:
#H3: Write a program to change values of an integer variable

In [ ]:
number = 10
print("Before change:", number)
number = 25
print("After change:", number)

Before change: 10
After change: 25

In [ ]:
## H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.

In [16]:
id = input("Enter first number: ")

print( id, type(id))
print(float(id))
print(int(float(id)))
print(str,(int(float(id))))

Enter first number: 78
78 <class 'str'>
78.0
78
<class 'str'> 78

In [17]:
## H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.

In [19]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

# calculating the average
average = (num1 + num2 + num3) / 3
print("Average:",average)

# printing the result rounded to two decimal places
print("Average:", round(average, 2))

Enter first number: 78
Enter second number: 45
Enter third number: 23
Average: 48.666666666666664
Average: 48.67

In [ ]:
## H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on user input.

In [4]:
# taking user input
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print('Sum: ', num1 + num2)  # Addition
print('Subtraction: ', num1 - num2)  # Subtraction
print('Multiplication: ', num1 * num2)  # Multiplication
print('Division: ', num1 / num2)  # Division
print('Floor Division: ', num1 // num2)  # Floor division
print('Modulo: ', num1 % num2)  # Modulo
print('Power: ', num1 ** num2)

Enter first number: 54
Enter second number: 76
Sum:  130
Subtraction:  -22
Multiplication:  4104
Division:  0.7105263157894737
Floor Division:  0
Modulo:  54
Power:  459119508215185159231778758047774407892472843988282752525674368417715513697831867434583260125954602592163567635638773748349792157696

In [ ]:
## H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.

In [7]:
# Ask user to enter a single character
ch = input("Enter a single character: ")

# Check if the input is a single alphabet character
if len(ch) == 1 and ch.isalpha():
    # Check if it is a vowel
    if ch.lower() in ['a', 'e', 'i', 'o', 'u']:
        print(f"{ch} is a Vowel.")
    else:
        print(f"{ch} is a Consonant.")
else:
    print("Invalid input! Please enter a single alphabet character.")

Enter a single character: a
a is a Vowel.